newenv/*
pyenv/*
temp/*
*/*/__pycache__/*
env/*
*/__pycache__/*
src/dist/*
build/*
src/build/*
src/dist/*
*.xlsx
src/Software Design Development Section V01 Fall Semester 2023 CO - 10102023 - 1004 AM/*
