numpy==1.26.0
oauthlib==3.2.0
openpyxl==3.1.2
pandas==2.1.1
pdfminer==20191125
pdfminer.six==20221105
six==1.16.0
tqdm==4.66.1
virtualenv==20.24.5
networkx==2.5
pyinstaller
#-f "C:\\Users\\akshi\\AppData\\Roaming\\Python\\Python311\\site-packages\\numpy-1.26.0-cp311-cp311-win_amd64.whl"